<!DOCTYPE html>
<html lang="ne">
<head>
    <meta charset="UTF-8">
    <title>рдиреЗрдкрд╛рд▓реА рдЪрд▓рдЪрд┐рддреНрд░</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="homepage">
        <h1>рд╕реНрд╡рд╛рдЧрддрдореН! ЁЯЩП</h1>
        <p>рдирдорд╕реНрддреЗ! рддрдкрд╛рдИрдВрд▓рд╛рдИ рдХреБрдиреИ рдкрдирд┐ рдиреЗрдкрд╛рд▓реА рдЪрд▓рдЪрд┐рддреНрд░ рд╣реЗрд░реНрди рдорди рдЫ? ЁЯОм</p>
        <a href="/random" class="btn">рдиреЗрдкрд╛рд▓реА рдЪрд▓рдЪрд┐рддреНрд░ рд╣реЗрд░реНрдиреБрд╣реЛрд╕реН</a>
    </div>
    <%- include ("footer.ejs")%>
</body>
</html>